/* Reset default browser styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img, video {
  max-width: 100%;
  display: block;
}

button, input, textarea, select {
  font-family: inherit;
}
